
.env.*

# Editor and OS files
.DS_Store
Thumbs.db
*.log

# Build artifacts
node_modules/
apps/frontend/.vite/
apps/frontend/dist/
apps/frontend/coverage/
apps/pb/pb_public/

# PocketBase
apps/pb/pb_data

# PocketBase logs and runtime cache
apps/pb/logs/
apps/pb/tmp/

pnpm-debug.log*
*.tsbuildinfo
.idea/
.vscode/
