# fly.toml app configuration file generated for precious-petals-crm on 2025-10-15T17:07:39+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'precious-petals-crm'
primary_region = 'lhr'

[mounts]
  destination = "/pb/pb_data"
  source = "pb_data"

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']
  [http_service.concurrency]
    type = "requests"
    hard_limit = 500

[[vm]]
  size = 'shared-cpu-1x'
