{{define "title"}}Invoice #{{.order.invoiceNumber}}{{end}} {{define "body"}}
<p>Dear {{.customer.title}} {{.customer.surname}}</p>

<p>
  <strong>Reference: Name:</strong> {{.customer.surname}}<br />
  <strong>Occasion Date:</strong> {{.order.occasionDate}}<br />
  <strong>Invoice:</strong> {{.order.invoiceNumber}}
</p>
<p><strong>Estimated Completion Date:</strong> {{.order.requiredBy}}</p>

<p>
  Please see attached your final invoice which details your display choices, the
  payments that you have made and the outstanding balance, which is due one
  month before completion, this will enable us to meet the estimated completion
  date.
</p>

<p>
  We kindly request that you read through the details on your invoice and get in
  touch as soon as possible if you need to amend anything.
</p>

<p>Kind Regards,<br />The Precious Petals Team</p>

<p>
  <a href="https://www.preciouspetals.co.uk">https://www.preciouspetals.co.uk</a
  ><br />
  01256 882422<br />
  Studio Opening hours<br />
  Mon - Thurs 9-5<br />
  Fri - Sat 9.30-12.30
</p>
{{end}}
