{{define "title"}}Invoice #{{.order.invoiceNumber}}{{end}} {{define "body"}}
<p>Dear {{if .customer.title}}{{.customer.title}} {{end}}{{.customer.surname}}</p>

<p>
  <strong>Reference: Name:</strong> {{.customer.surname}}<br />
  <strong>Occasion Date:</strong> {{.order.occasionDate}}<br />
  <strong>Invoice:</strong> {{.order.invoiceNumber}}
</p>
<p><strong>Estimated Completion Date:</strong> {{.order.requiredBy}}</p>

<p>
  Please find attached your final invoice, which confirms your display choices,
  payments received, any outstanding balance and your estimated completion date.
</p>

<p>
  Every display we create is individual, making each piece completely unique. As
  every bouquet contains different flower varieties and each flower preserves in
  its own unique way, no two finished displays will ever be exactly the same. Our
  aim is always to create the most beautiful display possible following the
  instructions that you have provided.
</p>

<p>
  We kindly ask that you take a few moments to read through your invoice
  carefully and check that it accurately reflects your order. If there is
  anything you would like to amend, or if you feel we have misunderstood any
  aspect of your order, please let us know as soon as possible before we begin
  creating your display.
</p>

<p>
  If we do not hear from you, we will assume that the invoice accurately reflects
  your instructions and will proceed with creating your display accordingly.
</p>

<p>
  The outstanding balance is due one month before your estimated completion date.
  Receiving payment by this date allows us to complete your display within the
  planned timescale, protecting your preserved flowers within their finished
  display and reuniting them with you as soon as possible.
</p>

<p>
  If you have any questions at all, please don't hesitate to get in touch. We are
  always happy to help.
</p>

<p>
  Thank you once again for choosing Precious Petals. We look forward to creating
  a beautiful keepsake for you to treasure for many years to come.
</p>

<p>Kind regards,<br />The Precious Petals Team</p>

<p>
  <a href="https://www.preciouspetals.co.uk">https://www.preciouspetals.co.uk</a
  ><br />
  01256 882422<br />
  Studio Opening hours<br />
  Mon - Thurs 9-5<br />
  Fri - Sat 9.30-12.30
</p>
{{end}}
